header {
	font-size: 20px;
	text-align: center;
	margin: 0px;
	color: blue;
	background-image: url("../images/paws_banner.jpg"); 

}

h1 {
	text-align: center;
	font-size: 100px;
	color: blue;
	margin: -25px;
	
}

nav li {
	display: inline-block;
	padding: 1px 15px 1px 15px;
	border: 1px solid black;
	background-color: red;

}

ul {
	text-align: center;
	border: 1px solid black;
	background-color: blue;
}

h3 { text-align: center; size: 200%;
	
}
#donate {margin: 0px 550px 0px 550px ;}
footer {text-align: right;}
h5 {width: 900px; 
	margin: 0px auto;
    }

h2 { text-align: center;

}

img {
	width: 100%;

	
}

a {
	text-decoration: none;
}
